<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="urlApi" value="http://localhost:8065" />

    <add key="CoordinatorApiAddress" value="http://18.218.98.135:80/CoordinatorFront/api/v1/prodoctivityapi/" />
    <add key="ProdoctivityApiAddress" value="http://18.218.98.135//Site/api/" />
    <add key="ApiKeyHeaderName" value="X-API-KEY" />
    <add key="Agent" value="ProDoctivity Capture" />
    <add key="ProDoctivityApiUsername" value="manager" />
    <add key="ProDoctivityApiPassword" value="password" />
    <add key="ApiKey" value="d8092a8b-15a6-4f8e-87de-c582aa6445f9" />

    <add key="documentTypeName" value="Factura01" />
    <add key="documentTypeId" value="805" />
    <add key="keywords" value="NombreProveedor,nombre;RUC,RUC;Referencia,Referencia;Direccion,Direccion;Subtotal,Subtotal;Total,Total;Impuestos,Impuestos" />

    <add key="OnBaseUrl" value="http://192.168.1.31/appserver/service.asmx" />
    <add key="ObUsername" value="manager" />
    <add key="Password" value="password" />
    <add key="Odbc" value="observer" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>